In [51]:
# isin() function

In [53]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [55]:
delivery= pd.read_csv('deliveries.csv')

In [81]:
match = pd.read_csv('matches - matches.csv')

In [83]:
# Find the most destructivef death over batsman in history of IPL
# Strike Rate =(Number of runs/Number of balls)/100
# Min batsman 200 balls faced in over 16-20

In [85]:
# Only death overs
death_over=delivery[delivery['over']>15]

In [87]:
# Balls faced by IPL Batsman in death overs
death_over.groupby('batsman')['batsman_runs'].count()
# Groupby in terms of bastman and extract bastman_runs(each ball)

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Flintoff         18
                 ...
YS Chahal          27
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      516
Z Khan            109
Name: batsman_runs, Length: 416, dtype: int64

In [107]:
# Balls faced by IPL Batsman in death overs 
death_batsman=death_over.groupby('batsman')['batsman_runs'].count()
# Balls faced by IPL Batsman in death overs (over 200 balls faced)
x=death_batsman>200
death_batsman[x]

batsman
A Mishra             225
AB de Villiers       570
AD Mathews           289
AM Rahane            268
AR Patel             229
AT Rayudu            425
BJ Hodge             385
DA Miller            360
DA Warner            228
DJ Bravo             409
DJ Hussey            234
DPMD Jayawardene     246
Harbhajan Singh      418
IK Pathan            465
JA Morkel            425
JH Kallis            231
JP Duminy            518
JP Faulkner          294
KA Pollard           838
KD Karthik           463
KM Jadhav            338
LRPL Taylor          204
MK Pandey            224
MK Tiwary            423
MS Dhoni            1224
NV Ojha              304
P Kumar              268
PP Chawla            311
R Vinay Kumar        235
RA Jadeja            576
RG Sharma            748
RV Uthappa           275
S Badrinath          283
S Dhawan             243
SK Raina             458
SPD Smith            316
SS Tiwary            300
STR Binny            218
V Kohli              546
WP Saha              295
Y Venugopal Rao      260
YK Pathan            584
Yuvraj Singh         516
Name: batsman_runs, dtype: int64

In [109]:
# # Balls faced by IPL Batsman in death overs (over 200 balls faced)
# x=death_batsman>200
# death_batsman[x]

In [115]:
# List of Name of all batsman who has played 200+ balls in death over
batsman_list = death_batsman[x].index.tolist()

In [117]:
# To calculate
# Runs scored by all these 43 batsman
# Balls played by all these 43 bastman

In [121]:
# Data of only those 43 bastman
Final =delivery[delivery['batsman'].isin(batsman_list)]

In [123]:
runs=Final.groupby('batsman')['batsman_runs'].sum()

In [125]:
balls=Final.groupby('batsman')['batsman_runs'].count()

In [127]:
sr=(runs/balls)*100
sr.sort_values(ascending=False)

batsman
AB de Villiers      145.129059
YK Pathan           140.751445
KA Pollard          140.621266
DA Warner           138.318401
DA Miller           137.709251
JA Morkel           136.938202
Harbhajan Singh     135.194585
SK Raina            134.995548
MS Dhoni            132.835821
KM Jadhav           130.555556
JP Faulkner         129.802956
SPD Smith           128.507127
RG Sharma           128.497251
WP Saha             127.727646
RV Uthappa          127.635135
V Kohli             126.588437
Yuvraj Singh        126.390244
STR Binny           123.747981
AT Rayudu           123.014257
KD Karthik          123.008475
AR Patel            122.672065
DJ Bravo            122.286822
JP Duminy           121.970624
BJ Hodge            121.422376
AD Mathews          120.868114
DJ Hussey           120.072661
LRPL Taylor         120.070838
RA Jadeja           118.792867
DPMD Jayawardene    118.791064
S Dhawan            118.502496
AM Rahane           117.486549
MK Pandey           116.938453
IK Pathan           116.751269
S Badrinath         115.742972
SS Tiwary           114.851485
NV Ojha             114.528024
MK Tiwary           114.127424
Y Venugopal Rao     113.872832
PP Chawla           110.278373
R Vinay Kumar       106.666667
JH Kallis           105.936272
P Kumar             105.263158
A Mishra             89.005236
Name: batsman_runs, dtype: float64

In [129]:
# merge function
# List of Orange cap holder

In [152]:
# Need to extract Season and total runs batsman scored in that season
# Season is obtained from 'match' and runs from 'delivery' dataframe

In [154]:
new= delivery.merge(match, left_on='match_id',right_on='id')

In [162]:
# Extract total runs scored by batsman in each season
new.groupby(['season','batsman'])['batsman_runs'].sum()
# This will give multi-index series

season  batsman
2008    A Chopra              42
        A Kumble              13
        A Mishra              37
        A Mukund               0
        A Nehra                3
                            ...
2017    Washington Sundar      9
        YK Pathan            143
        YS Chahal             13
        Yuvraj Singh         252
        Z Khan                 4
Name: batsman_runs, Length: 1531, dtype: int64

In [172]:
# Convert series to dataframe
df=new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()
df

      season      batsman  batsman_runs
0       2016      V Kohli           973
1       2016    DA Warner           848
2       2013   MEK Hussey           733
3       2012     CH Gayle           733
4       2013     CH Gayle           720
...      ...          ...           ...
1526    2017     MM Patel             0
1527    2012  AC Blizzard             0
1528    2011     AB Dinda             0
1529    2017      AD Nath             0
1530    2008     L Balaji             0

[1531 rows x 3 columns]

In [180]:
# Keep only first one using drop dup
df.drop_duplicates(subset='season',keep='first').sort_values('season')[['season','batsman']]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
3     2012      CH Gayle
2     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner