In [153]:
# Groupby

In [155]:
import numpy as np
import pandas as pd
import matplotlib as mlt

In [157]:
# Top 5 batsman in terms of runs scored

In [159]:
delivery = pd.read_csv('deliveries.csv')
match = pd.read_csv('matches.csv')

In [160]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [163]:
runs = delivery.groupby('batsman')

In [165]:
# Total number of balls faced by Virat Kohli in IPL
runs.get_group('V Kohli').shape

(3494, 21)

In [167]:
# Top 5 scorers in IPL
runs['batsman_runs'].sum().sort_values(ascending = False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [169]:
# Batmsan to hit most number of 4s in IPL

In [171]:
mask = delivery['batsman_runs']==4
new_delivery=delivery[mask]

In [173]:
# Total number of 4s in IPL
new_delivery.shape[0]

17033

In [175]:
# Batsman with most number of 4s
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
G Gambhir         484
SK Raina          402
DA Warner         401
S Dhawan          401
V Kohli           384
                 ...
S Gopal             1
DE Bollinger        1
Sandeep Sharma      1
Shivam Sharma       1
KAJ Roach           1
Name: batsman_runs, Length: 368, dtype: int64

In [177]:
# Virat Kohli scored most runs against which 3 teams?

In [179]:
# vk = delivery[delivery['batsman']=='V Kohli']

In [181]:
vk = delivery[delivery['batsman']=='V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

In [183]:
# Function where we input any name of player and it will display, 
# top 3 teams that batsman has scored against

In [237]:
def run_scored(batsman_name):
    vk = delivery[delivery['batsman'] == batsman_name]
    # Get the top bowling team
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).index[0]

In [241]:
# Call the function
run_scored('AB de Villiers')

'Mumbai Indians'